  <% if action == :create %>
    <% submit_button_text = "Sign up"%>
    <% action_url = users_url %>
  <% elsif action == :signin %>
    <% submit_button_text = "Login"%>
    <% action_url = session_url %>
  <% end %>

<h1><%= submit_button_text%></h1>

<form class="user_form" action="<%=action_url%>" method="POST" >
  <%= auth_token %>

  <label>Username:</label>
  <input type="text" name="users[user_name]" value="<%= user.user_name%>">

  <br>

  <%if action == :create %>
  <label>Email:</label>
  <input type="text" name="users[email]" value="<%= user.email %>">
 
  <br>
  <% end %>

  <label>Password:</label>
  <input type="password" name="users[password]" value="<%= user.password%>">
  <br>

  <input type="submit" value="<%=submit_button_text%>">

</form>