<h1> Band Name: <%= @band.name %> </h1>
<form action="<%= new_album_url %>" method="GET">
  <input type="hidden" name="band_id" value="<%= @band.id %>" >
  <input class="add_album" type="submit" value="Add Album">
</form>

<form action="<%= band_url %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input class="delete_band" type="submit" value="Delete Band">
</form>

<% if @band.albums %>
  <h2>Album List</h2>
  <% @band.albums.each do |album| %>
    <%= render album, album: album %>
  <% end %>
<% end %>

<% content_for :footer %>

