<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header_text">
        <p>Music App<p>
      </div>
      <div class="user_profile">


        <% if logged_in? %>
          <div class="username">
            <%= current_user.user_name %>
          </div>
          
          <form action="<%= session_url %>" method="POST">
            <%= auth_token %>
            <input type="hidden" name="_method" value="DELETE" >
            <input type="submit" value="Logout">
          </form>
        <% else %>
          <a href="<%= new_session_url %>" >Login</a>
          <a href="<%= new_user_url %>" >Sign up</a>
        <% end %>
      </div>
    </header>

    <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
      <li class="error_msgs"><%= error %></li>
    </ul>
      <% end %>
    <% end %>

    <%= yield %>
    <footer>
      <%= yield :footer%>
      <div class="footer_text">
        <p>Copy right by App Academy, the coolest bootcamp ever</p>
      </div>
    </footer>
  </body>
</html>
